.text {
    /* font-size: 1.6rem; */
    /* font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-weight: 500;
    margin-left: 0;
    margin-bottom: 1rem;
}

.mb {
    margin-bottom: 0.8rem;
}