.contact {
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    /* width: 85%; */
}


h1 {
    font-size: 2.2rem;
    color: var(--color-red);
    font-weight: 700;
    margin-bottom: 2rem;
}


.box {

    display: flex;
    align-items: center;

}

.box img {
    max-width: 300px;
    margin-right: 3rem;
}

.black {
    color: black;
}

.espace {
    margin-left: 1rem;
}

p {
    margin-bottom: 2rem;
}