.img {
    width: 30rem;
}

.description {
    margin-left: 3rem;
}

.input {

    margin: 2rem 10rem 2rem 0;
}

.login {
    /* width: 85%; */
    margin: auto;
    margin-top: 3rem;
    display: flex;
}

.nouvelle {
    margin-top: 3rem;
}