/*Mobile first */
/*defaut */
@media screen {
    .container {
        max-width: 80%;
        margin: auto;
        margin-top: 1.8rem;
    }

    p {
        color: #000;
        margin-left: 0;
    }

    .missonsAndIcon {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 7rem;
    }

    .box1 {
        margin-left: 0;
    }


    .box2 {
        margin-left: 0;
        display: none;
    }

    .pwithIcons {
        margin: auto;
        margin-top: 1.5rem;
    }

    .missions {
        margin-top: 2.5rem;
        display: flex;
        justify-content: space-around;
    }

    .h1 {
        margin-bottom: 2rem;
        margin-left: 0;
    }
}

/* Mobile */
@media (min-width: 576px) {}

/* Tablet */
@media screen and (min-width: 768px) {

    .container {
        max-width: 85%;
        margin-top: 3rem;
    }

    .box2 {
        display: block;
    }
}

/* Desktop */
@media screen and (min-width: 768px) {}