.mode {
    background-color: var(--color-nav);


}

.topBox {
    background-color: var(--color-nav-top);
    width: 100%;
    height: 5px;
    margin-bottom: 1rem;
}

.container {
    max-width: 85%;
    margin: auto;
}

.navbar img {
    width: 15rem;
    margin-right: 2.5rem;

}

.navbar {
    padding-top: 2rem;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* vertical-align: bottom; */

}

nav a {
    font-size: 1.6rem;
    display: inline;
    color: var(--color-text);
    font-weight: bold;
    text-decoration: none;
    padding: 1rem 2.5rem 0.3rem 2rem;
    transition: all .1s linear;
}

nav a:hover {
    color: var(--color-red);
    border-bottom: solid 2px var(--color-red);
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
}

.darkMode {
    border: 1px solid;
    border-color: 1px solid;

}

h1:hover:after {
    transform: scaleX(1);
}

nav a:focus {
    color: var(--color-red);
}