.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 300px;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}

input {
    padding: 5px;
    font-size: 16px;
    border-width: 1px;
    border-color: #cccccc;
    background-color: #ffffff;
    color: #000000;
    border-style: solid;
    border-radius: 0px;
    box-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
}

textarea {
    padding: 5px;
    font-size: 16px;
    border-width: 1px;
    border-color: #cccccc;
    background-color: #ffffff;
    color: #000000;
    border-style: solid;
    border-radius: 0px;
    box-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

button {
    margin-top: 10px;
    background-color: #44c767;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 14px;
    padding: 13px 31px;
    text-decoration: none;
}

button:hover {
    background-color: #5cbf2a;
}

button:active {
    position: relative;
    outline: none;
    top: 1px;
}