.footer {
    margin-top: 6rem;
    width: 100%;
    background-color: #000;
    color: #fff;
    /* position: absolute;
    bottom: 0; */

}

.nav {
    padding-top: 3rem;
    padding-left: 3rem;
}

.navList {
    display: flex;
}