.footer {
    /* margin-top: 6rem; */
    width: 100%;
    background-color: #000;
    color: #fff;
}

.container {
    width: 85%;
    margin: auto;
}

.nav {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #fff;
    display: flex;
}

.navList {
    display: flex;
}

.ecole {
    color: #fff;
    padding-top: 8rem;
}

p {
    color: #fff;
}

