.img {
    width: 100px;
}

.pagination {
    display: flex;
    /* margin: auto; */
    margin-top: 2rem;
    justify-content: center;
}

.btn {
    width: 85%;
    margin: auto;
    margin: 2rem auto;
}

.button {
    color: white;
    background-color: #A41819;
}

.paginationLink {
    /* border: 1px salmon solid; */
    padding: 0.5rem;
    margin: 1rem;
}

.paginationActive {
    padding-left: 1rem;
    padding-right: 2rem;
    /* margin: 1rem; */
}