@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,400;0,700;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


:root {
  --color-bg: #fff;
  --color-text: #000;

  --color-nav-top: #A41819;
  --color-accent: #A41819;
  --color-blue: #003478;
  --color-red: #A41819;
  --color-bg-grey: #BDBDBD;
}

html.dark {
  --color-nav: #1E1E1E;
  --color-bg: #414141;
  --color-text: #BDBDBD;

  --color-nav-top: #000;
  --color-accent: #BDBDBD;
  --color-blue: #41556f;
  --color-red: #A41819;

}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  line-height: 1.5;
  font-size: 1.6rem;
  background-color: var(--color-bg);
  color: var(--color-text);
  /* color: #000; */
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 2.3rem;
  font-family: 'Advent Pro', sans-serif;
  font-weight: 700;
  font-style: italic;
  margin-left: 0;
}

h2 {
  font-size: 1.8rem;
  font-family: 'Advent Pro', sans-serif;
  font-weight: 700;
}

p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  margin-left: 0;
}

button {
  background-color: #fff;
  border-radius: 3rem;
  border: 1px solid #A41819;
  padding: 0.5rem 1rem;
}